.register-content {
  --padding-start: 24px;
  --padding-end: 24px;
  --padding-top: 24px;
}

.error-text {
  display: block;
  font-size: 13px;
  margin: 8px 4px 0;
}

.submit-btn {
  margin-top: 20px;
}
